.one{
    background-color: red;
    font-size: 45px;
}
.two{
    background-color: blue;
    font-size: 45px;
}
.course_wrapper{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.card_item{
    border: 1px solid red;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
}
.card_img{
    width: 100%;
    height: 200px;
    background-color: chartreuse;
    overflow: hidden;
}
.card_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card_details{
    width: 100%;
    padding: 20px;
    background-color: #fff;
}